body {
  background-color: #00ff00;
  min-height: 100vh;
  color: white;
  cursor: url("http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif"),
    pointer;
}

.app__wrapper {
  background-color: black;
  background-image: url(https://pbs.twimg.com/profile_images/687100459375538177/LpRu9tv3.jpg);
  background-size: 50px;
  padding: 10px;
}

.app__title {
  margin-bottom: 10px;
  color: red;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
  border-top: 15px solid #ffff00;
  border-right: 15px solid #ff0000;
  border-bottom: 15px solid #0033ff;
  border-left: 15px solid #ff00ff;
}

.app__heading {
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
}

.bowie__cards-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  row-gap: 32px;
  column-gap: 10px;
}

.bowie__card {
  border: 8px solid red;
}

.bowie__image-container {
  height: 300px;
}

.bowie__image {
  height: 100%;
}

.card__meta-container {
  display: flex;
  align-items: center;
  min-height: 60px;
  font-size: 0.8rem;
  flex-wrap: wrap;
  background-color: green;
  color: yellow;
}

.card__meta-title {
  margin: 0;
  flex-basis: 100%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.neon__blue {
  color: #0033ff;
  padding-right: 10px;
  background-color: black;
}

.neon__pink {
  color: #ff00ff;
  padding-right: 10px;
  background-color: black;
}

.neon__yellow {
  color: #ffff00;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
}

.neon__red {
  color: red;
  padding-right: 10px;
  background-color: black;
}

.inspiration__heading {
  color: red;
  font-style: italic;
}

.copyright {
  text-align: right;
  margin-right: 20px;
  color: red;
}
